doctype html
html
    head
        title Q&A
        link(rel='stylesheet', href='/css/style.css')
    body
        - var lang=lang||'en'
        #menu
            ul
                li: a(href='/ask')= {en:'Ask', ru:'Задать вопрос'}[lang]
                li: a(href='/qas')= {en:'Q&A', ru:'Вопросы-ответы'}[lang]
                li: a(href='/about')= {en:'About', ru:'О сервисе'}[lang]

        mixin QA(qa)
            .qa
                p
                    span.timestamp= new Date(qa.timestamp*1000)
                p
                    span= {en: 'Topic', ru: 'Тема'}[lang]+': '
                    span.topic= qa.question.topic
                p
                    span= {en: 'Question', ru: 'Вопрос'}[lang]+': '
                    span.question= qa.question.text
                p
                    span= {en: 'Answer', ru: 'Ответ'}[lang]+': '
                    span.answer= qa.answer
                p
                    span= {en: 'Rating', ru: 'Рейтинг'}[lang]+': '
                    span.rate= qa.rate
                p
                    a.link(href='/qas/'+qa._id)= {en: 'Link', ru: 'Ссылка'}[lang]
                p
                    button.rate(qa_id=qa._id)= {en:'+1', ru:'+1'}[lang]

        block content
        script(src='js/zepto.min.js')
        script(src='js/ctrl.js')
