doctype html
html
    head
        title Q&A
        link(rel='stylesheet', href='/css/style.css')
    body
        - var lang=lang||'en'

        #menu
            ul
                li: a.tab_link(title='ask', href='#')= {en:'Ask', ru:'Задать вопрос'}[lang]
                li: a.tab_link(title='qas', href='#')= {en:'Q&A', ru:'Вопросы-ответы'}[lang]
                li: a.tab_link(title='about', href='#')= {en:'About', ru:'О сервисе'}[lang]

        #ask.tab
            h2= {en:'Question', ru:'Вопрос'}[lang]
            label= {en:'Topic', ru:'Тема'}[lang]
            select(name='toipcs')
            textarea(cols='40', rows='5')= question
            button= {en:'Ask', ru:'Спросить'}[lang]

        #answer.tab
            #qa.qa
                p
                    span.timestamp
                p
                    span= {en: 'Topic', ru: 'Тема'}[lang]+': '
                    span.topic
                p
                    span= {en: 'Question', ru: 'Вопрос'}[lang]+': '
                    span.question
                p
                    span= {en: 'Answer', ru: 'Ответ'}[lang]+': '
                    span.answer
                p
                    span= {en: 'Rating', ru: 'Рейтинг'}[lang]+': '
                    span.rate
            button#btn_rate +1

        #qas.tab
            h2= {en:'Q&A', ru:'Вопросы-ответы'}[lang]
            -var prev_text = {en:'Previous', ru: 'Предыдущие'}[lang]
            -var next_text = {en:'Next', ru: 'Следующие'}[lang]
            -var sort_by_date_text = {en:'Sort by Time', ru: 'Сортировать по времени'}[lang]
            -var sort_by_rate_text = {en:'Sort by Rate', ru: 'Сортировать по рейтингу'}[lang]
            a.nav(title='prev', href='#')= prev_text
            a.nav(title='next', href='#')= next_text
            a.sort(title='sort_by_date', href='#')= sort_by_date_text
            a.sort(title='sort_by_rate', href='#')= sort_by_rate_text
            #qas_list
            a.nav(title='prev', href='#')= prev_text
            a.nav(title='next', href='#')= next_text
            a.sort(title='sort_by_date', href='#')= sort_by_date_text
            a.sort(title='sort_by_rate', href='#')= sort_by_rate_text

        #about.tab
            case lang
                when 'en'
                    h2 Q&A Serivce
                    p About
                when 'ru'
                    h2 Сервис вопросов и ответов
                    p О сервисе

        script(src='js/zepto.min.js')
        script(src='js/ctrl.js')
